html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block {
  width: 50%;
  height: 50%;
  float: left;
}
.blocky {
  margin: 25px;
}
#groupA {
  background: #049dd9;
}
#groupB {
  background: #f2c166;
}
#groupC {
  background: #f26a6a;
}
#groupD {
  background: #48cb5e;
}

h1 {
  font-size: 1.5em;
}

input[type='number'] {
  margin-top: 5px;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-color: #ffffff88;
  color: #000;
  font-size: 0.8em;
}

.result {
  position: relative;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  width: 40%;
  /* margin: 25px; */
}
